
#main-wrapper{
	width:900px;
	margin: 0 auto;
	margin-top: 45px;
	background:	#586ebc;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid #2c3e50;
}

.studpic{
	width: 250px;
	text-align: leftwards;
	
}

#button-wrapper{
	width:900px;
	margin:0 auto;
	margin-top: 5px;
	background: #586ebc;
	padding: 5px;
	border-radius: 2px;
	border: 2px solid #2c3e50;
	
	
}

.btns{
	margin: 0 auto;
	align-self: centre;
	border: white;
}

#home{
	background-color: #586ebc;
	padding: 10px;
	color:white;
	width:290px;
	text-align:center;
}


#aboutus{
	background-color: #586ebc;
	padding: 10px;
	color:white;
	width:300px;
	text-align:center;
}

#contactus{
	background-color: #586ebc;
	padding: 10px;
	color:white;
	width:300px;
	text-align:center;
}

#choice-wrapper{
	width:900px;
	margin:0 auto;
	margin-top: 5px;
	background: white;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid #2c3e50;
}
.coice_btns{
	margin: 0 auto;
}


#admin{
	background-color: #586ebc;
	padding: 10px;
	color:white;
	height: 50px;
	margin-top: 85px;
	margin-bottom: 85px;
	width:290px;
	
	text-align:center;
}
#teacher{
	background-color: #586ebc;
	padding: 10px;
	color:white;
	height: 50px;
	margin-top: 85px;
	margin-bottom: 85px;
	width:300px;
	text-align:center;
}
#parent{
	background-color: #586ebc;
	padding: 10px;
	color:white;
	width:300px;
	margin-top: 85px;
	margin-bottom: 85px;
	height: 50px;
	text-align:center;
}

#footer{
	width:900px;
	margin:0 auto;
	margin-top: 10px;
	background: #586ebc;
	padding: 10px;
	border-radius: 8px;
	border: 2px solid #2c3e50;
}

.adminlog{
	margin:0 auto;
}

.inputvalues{
	width: 200px;
	height: 40px;
	margin: 0 auto;
	text-align:centre;
	margin-top: 10px;
	margin-bottom: 20px;
	
}